body {
	background-color: #3C3131;
}

footer {
	background-color: #776262;
	bottom: 0px;

	width: 100%;
	
}

.topbar {
	background-color: #776262;
	top: 0px;

	height: 50px;
	width: 100%;
	
}

.center {
	text-align: center;
	font-family: Helvetica, Georgia, Serif;
}

.main {
	padding: 10px;
	margin: 10px;
	height: 525px;
    width: 100%;
}